<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCCycleScrollViewProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5522329F1CA3D0CC002C1F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552232B81CA3D0CC002C1F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552232C31CA3D0CC002C1F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
